#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1036px;
	margin: 0 auto;
	padding: 0 14px;
	overflow: hidden;

	&--large {
		max-width: 1177px;
	}
}

.page-section {
	padding: 40px 0;

	&--bg-gray {
		background-color: #ccc;
	}
}